#search_hero {
  background: url("https://firebasestorage.googleapis.com/v0/b/meme-cave.appspot.com/o/pexels-belle-co-847393_50.jpg?alt=media&token=88f50e80-11bc-4526-8361-e9dea3a67ecf");
  background-position: center;

  background-size: cover;

  width: 100%;
  height: 400px;

  background-repeat: no-repeat;
}
#s {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.712));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  flex-direction: column;
}

#s form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#s input {
  font-size: 16px;
  width: 600px;
  padding: 16px;
  border-radius: 5px 0 0 5px;
}
#sBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  padding: 16px;

  background-color: #e3bb37;
  color: white;
  border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 600px) {
  #search_hero {
    height: 250px;
  }
  #s {
    
    height: 250px;
    
  }
  #s input {
    font-size: 16px;
    width: 250px;
    padding: 8px 16px;
    border-radius: 5px 0 0 5px;
  }
  #sBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    padding: 8px 16px;

    background-color: #e3bb37;
    color: white;
    border-radius: 0 5px 5px 0;
  }
}
