@tailwind base;
@tailwind components;
@tailwind utilities;

*{

}
body{
  background-color: #e5e7ea;
}
.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}